<script src="{{ '/assets/js/codehighlight.js' | relative_url }}"></script>
<script src="{{ '/assets/js/accordeon.js' | relative_url }}"></script>

<footer>
  <div class="row">

    <div class="sitefooter">

      <nav class="meta-nav">
        <ul class="meta-nav__list">
          <li class="meta-nav__item">
            <a href="{{ site.baseurl }}{% link assets/impressum.md %}" class="meta-nav__link">Legal Details - Imprint | Data Protection Statement</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


</footer>
