<header class="container">
  <div class="row">
    <div class="twelve columns">
      <div class="logo-bar">
        <div class="logo-bar__inner">

          <div class="logo-bar__word-mark-link">
          <a href="http://www.net.in.tum.de/" title="Chair of Network Architectures and Services" target="_self" class="logo-bar__link">
            Chair of Network Architectures and Services
          </a><br>

          <a href="http://www.cit.tum.de/" title="TUM School of Computation, Information and Technology" target="_self" class="logo-bar__link">
            TUM School of Computation, Information and Technology
          </a><br>
          <a href="http://www.tum.de/" title="TUM School of Computation, Information and Technology" target="_self" class="logo-bar__link">
            Technical University of Munich
          </a>
          </div>

          <a href="http://www.tum.de" title="Startseite" target="_self" class="logo-bar__link logo-bar__logo-link">
            <object type="image/svg+xml" data="{{site.baseurl}}/assets/images/tum_logo.svg" class="logo-bar__img">
              <img src="{{site.baseurl}}/assets/images/tum_logo.png" width="73" height="38" alt="TUM – ">
            </object>
          </a>
          </ul>

          <span class="main-nav-toggle js-main-nav-toggle">Menü</span>
        </div>
      </div>
    </div>
  </div>
</header>
