<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="https://www.net.in.tum.de/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1.0, width=device-width" name="viewport">

  {%- seo -%}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script src="{{ '/assets/js/jquery-3.2.1.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/basic-1.0.0.js' | relative_url }}"></script>
  {%- feed_meta -%}
  <title>{{ site.title }}</title>
</head>
