<header class="container">
  <div class="row">
    <div class="twelve columns">
      <div class="logo-bar">
        <div class="logo-bar__inner">

          <div class="logo-bar__word-mark-link">
            {% for header in site.data.header.list %}
            <a href="{{ header.url }}" title="{{ header.name }}" target="_self" class="logo-bar__link">
              {{ header.name }}
            </a><br>
            {% endfor %}
          </div>

          <a href="http://www.tum.de" title="Startseite" target="_self" class="logo-bar__link logo-bar__logo-link">
            <object type="image/svg+xml" data="{{site.baseurl}}/assets/images/tum_logo.svg" class="logo-bar__img">
              <img src="{{site.baseurl}}/assets/images/tum_logo.png" width="73" height="38" alt="TUM – ">
            </object>
          </a>
          </ul>

          <span class="main-nav-toggle js-main-nav-toggle">Menü</span>
        </div>
      </div>
    </div>
  </div>
</header>
