<nav class="subnav js-main-nav">
  <ul class="subnav__list clearfix js-main-nav-list">

    {% assign pages = site.pages | where_exp: 'item', 'item.toc != nil' | sort: 'order' %}
    {% for item in pages %}
    <li class="subnav__item js-main-nav-item-1-level">
      <a href="{{ item.url  | relative_url }}" class="{% if item.url == page.url %}subnav__link--current subnav__link--active{% endif %} subnav__link subnav__link--has-submenu js-main-nav-link">{{ item.toc }}</a>
    </li>
    {%- endfor -%}
  </ul>
</nav>
