<nav class="main-nav js-main-nav">
  <ul class="main-nav__list clearfix js-main-nav-list">

    <div class="container">
      <div class="row">

        {% assign pages = site.pages | where_exp: 'item', 'item.toc != nil' | sort: 'order' %}
        {% for item in pages %}


        <li class="main-nav__item-1-level main-nav__item-1-level--hover js-main-nav-item-1-level">
          <a href="{{ item.url  | relative_url }}" class="{% if item.url == page.url %}main-nav__link--current{% endif %} main-nav__link js-main-nav-link main-nav__link--1-level">{{ item.toc }}</a>
        </li>

        {%- endfor -%}
      </div>
    </div>
  </ul>
</nav>
