<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}"
      class="js no-touch svg inlinesvg svgclippaths no-ie8compat">

    {%- include head.html -%}

    <body class="homepage homepage_index">

        {%- include header.html -%}

        <main class="content container" role="main" aria-label="Content">
            <div class="content-row">
                {% include nav.html %}

                {{ content }}
            </div>
        </main>

        {%- include footer.html -%}

    </body>

</html>
